@import "node_modules/bootstrap/scss/bootstrap";

@import "~highlight.js/scss/stackoverflow-light";

html {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  height: 100%;
  line-height: 1;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  text-decoration: none;
}

.icon {
  height: 1.3rem;
  font-size: 1.3rem;
  text-align: center;
  fill: currentColor;
}

.card {
  padding: 0;
  margin: 0;
}

.post-prev {
  padding: 1rem;
}

pre {
  margin-left: -1rem;
  margin-right: -1rem;
}

.hljs {
  padding: 1rem;
}
